body{
  margin: 0;
}

header {
  height: 80px;
  padding: 0 20px;
 
  display: flex;
  justify-content: center;

  box-shadow: 0px 10px 100px rgb(0, 0, 0, .1);
}

.header-div{
  width: 650px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.philatelist-head-logo{
  height: 50px;
}

.my-account-style{

  cursor:pointer;
}

.checkout-style{

  display: flex;
  justify-content: center;

  margin: 30px 0;

}

main{
  width: 100%;
  font-family: 'Roboto';

  display: flex;
  justify-content: center;
  
}

.delivery-date{

  font-size: 13px;
  font-weight: 600;

  margin-bottom: 10px;
  color: green;

}

.cart-items-img{
  width: 100px;
}

.item-summary{
  display: flex;
  justify-content: space-between;

  font-size: 12px;
  margin-top: 20px;
}

.item-details{

  display: flex;;
  
}

.item-sub-details{
  margin-left: 15px;
}

.item-name{
  font-weight: 600;
  color: black;
}

.item-price{
  
  font-weight: 600;
  color: maroon;

  margin: 7px 0;
}

.choose-delivery{

  font-weight: 600;
  color: black;
  margin-bottom: 8px;
}

.delivery-option-div input{
  margin:0;
}

.delivery-option-div{

  display: flex;;
}

.delivery-option{
  margin-left: 10px;
  margin-bottom: 5px;
}

.delivery-date-option{

  /*color: green;*/
  font-weight: 600;
  margin-bottom: 2px;
}

.shipping-cost{
  color: grey;
}

.payment-summary-div{
  font-size: 12px;

  height: 200px;
}

.payment-summary{
  font-size: 13px;
  font-weight: 600;
  color:black;
  
  margin-bottom: 12px;
}

.payment-summary-div div{
  display: flex;
  justify-content: space-between; 
}

.payment-calculation-div{
  margin-bottom: 5px;
}

.payment-line-div{
  width: 100%;
  display: flex;
  justify-content: right;
}

.calculation-line-div{
  background-color: lightgrey;
  height: 1px;
  width: 100%;
  margin: 5px 0;

}

.grand-total{
  font-size: 12px;
  font-weight: 600;
}

.checkout-button-div{
  
  font-size: 13px;
  font-weight: 600;
  color:white;
  background-color: rgb(234, 117, 33);
 
  margin-top: 60px;
  height: 30px;
  cursor: pointer;

  border: none;
  border-radius: 4px;
}

.checkout-button-div:hover{
  background-color: rgb(223, 112, 32);
}

.checkout-button{

  
  margin: auto;
  
}

@media (min-width:700px){

  main{
    display: flex;
    justify-content: center;
    
  }

  .item-div{
    font-size: 14px;
    width: 450px;

    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid rgb(0, 0, 0, .2);
    border-radius: 4px;
  }

  .payment-summary-div{
    min-width: 200px;
    
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    
    border: 1px solid rgb(0, 0, 0, .2);
    border-radius: 2px;
  }
}

@media (max-width: 700px){

  main{
    display: grid;
    justify-content: center;
    
  }

  .item-div{
    font-size: 14px;
    width: 400px;

    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid rgb(0, 0, 0, .2);
    border-radius: 4px;
  }

  .payment-summary-div{
    width: 400px;
    
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    
    border: 1px solid rgb(0, 0, 0, .2);
    border-radius: 2px;
  }
}