
@media (min-width: 499.9px){

  header{
    height: 80px;
    padding: 0 20px;

    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 100px rgb(0, 0, 0, .1);
  }

  .header-left-div{
    
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-center-div{
    max-width:500px ;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header-center-div div{
    display:flex;
    align-items: center;
    
  }

  .header-right-div{
    min-width: 80px;
    display:flex;
    align-items: center;
    justify-content: end;
    margin-left: 0px;
  }

  .hamburger-icon, .cart-icon, .wishlist-icon{
    height:30px;
    cursor: pointer;
  }

  .hamburger-icon{
    margin-right: 15px;
  }

  .philatelist-head-logo{
    height: 50px;
  }

  .cart-icon{

    margin-top: 4px;
    margin-left:9px;
  }


  .search-div{
    height: 27px;
    min-width: 10px;
    max-width: 400px;

    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
    
    border: 1px solid;
    border-color: black;
    border-radius: 20px;
  }

  .search-box{
    height: 25px;
    font-size: 15px;
    width: 90%;

    border:none;
    
    padding-left: 8px;
    margin-right: 8px;
    margin-left: 16px;
    
    outline: none;
  }

  .search-button{
    height: 20px;
    margin-right: 8px;
  }

}

@media (max-width: 500px){
  header{
    height: 80px;
    padding: 0 20px;

    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 100px rgb(0, 0, 0, .1);
  }

  .header-left-div{
    
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-center-div{
    max-width:500px ;
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    justify-content: end;
  }

  .header-center-div div{
    display:flex;
    align-items: center;
    
  }

  .header-right-div{
    min-width: 80px;
    display:flex;
    align-items: center;
    justify-content: end;
    margin-left: 0px;
  }

  .hamburger-icon, .cart-icon, .wishlist-icon{
    height:30px;
    cursor: pointer;
  }

  .hamburger-icon{
    margin-right: 15px;
  }

  .philatelist-head-logo{
    height: 50px;
  }

  .cart-icon{

    margin-top: 4px;
    margin-left:9px;
  }


  .search-div{
    height: 27px;
    /*min-width: 10px;
    max-width: 400px;*/
    width: 10;

    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
    
    /*border: 1px solid;
    border-color: black;
    border-radius: 20px;*/
  }

  .search-box{
    height: 25px;
    font-size: 15px;
    /*width: 90%;*/
    width: 0;

    border:none;
    
    /*padding-left: 8px;
    margin-right: 8px;
    margin-left: 16px;*/
    
    outline: none;

    visibility: hidden;
  }

  .search-button{
    /*height: 20px;
    margin-right: 8px;*/
    height: 24px;
    margin-top: 2px;
    margin-right: 0px;
  }

}